@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --deep-blue: hsl(213, 74%, 20%);
  --light-blue: hsl(205, 58%, 40%);
  --bg-color: #fffde1;
  --strong-red: #ee6352;
  --light-red: #f87060;
  --green: hsl(153, 63%, 30%);
  --darkest-grey: hsl(213, 15%, 12%);
  --dark-grey: hsl(213, 15%, 24%);
  --medium-grey: hsl(213, 15%, 35%);
  --light-grey: #808080;
  --lightest-grey: hsl(200, 14%, 85%);
  --max-width: 700px;
}

body {
  margin: auto;
  height: 100%;
  max-width: var(--max-width);
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  overflow-x: hidden;
}

body section {
  width: inherit;
  overflow-x: hidden;
}

.loading-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 1em;
  margin: 0;
  width: auto;
}

ul.exercises li {
  font-weight: 400;
  color: var(--darkest-grey);
}

li {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  font-weight: 300;
}

li span {
  align-self: center;
}

li button {
  background-color: var(--light-blue);
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 1em;
  padding: 0.7em;
  display: flex;
  font-size: 0.6em;
  font-weight: 900;
  margin-left: 1em;
}

.li-arrow {
  transition: all 0.3s;
  color: var(--deep-blue);
}
.rotate {
  transform: rotate(90deg);
  transition: all 0.3s;
}

h1.empty-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 90%;
  height: 90%;
  text-align: center;
  align-items: center;
  margin: auto;
}
h2 {
  color: var(--deep-blue);
  border-bottom: 0.15em solid var(--light-red);
  padding-bottom: 0.15em;
  margin-left: 0.15em;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

h4 {
  color: var(--light-blue);
  font-weight: 700;
  margin-bottom: 0.5em;
  padding-left: 0.8em;
  font-size: 0.8em;
  text-transform: uppercase;
}

h5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.hide {
  display: none;
}

.show-schedule {
  font-size: 70%;
  display: flex;
  flex-direction: column;
}

.sign-in-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 50% auto;
  padding: 0.5em;
  background-color: var(--deep-blue);
  color: var(--bg-color);
  border: none;
  border-radius: 1vw;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* List buttons */

.check-button-circle {
  border-color: var(--deep-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 0.2em;
  border-radius: 50%;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
}

.check-button-mark {
  visibility: hidden;
  color: var(--green);
  font-size: 0.9em;
}

.checked {
  visibility: visible !important;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out both;
  animation: heartbeat 1.5s ease-in-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-1-25 17:36:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
